* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Courier, sans-serif;
}

header {
    background-image: url(mobile_code_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.nav-main {
    position: fixed;
    overflow: hidden;
}

li {
    list-style: none;
    margin-right: 10px;
    text-align: right;
}

.nav-buttons a:link, .nav-buttons a:visited {
    color: white;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

.nav-buttons a:hover {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: white;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

section {
    min-height: 100vh;
    padding: 0 20px;
}

.image-icons {
    max-width: 150px;
}

.footer-links {
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 30vh;
}

.footer-nav-bar {
    float: left;
    margin: 0 auto;
    width: 25%;
    border: 5px white;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}



/*Tablet */

@media only screen and (min-width: 600px) {
    header {
        background-image: url(tablet_code_image.jpg);
    }
    li {
        list-style-type: none;
        margin-right: 10px;
        text-align: left;
    }
}

/* Desktop */

@media only screen and (min-width: 1400px) {
    header {
        background-image: url(large_code_skills.jpg);
    }
    li {
        float: right;
        list-style: none;
        margin-right: 10px;
    }

    .footer-links {
        overflow: hidden;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 30vh;
    }
    .footer-nav-bar {
        float: left;
        margin: 0 auto;
        width: 100%;
        /*margin-top: 50px;*/
        border: 5px white;
        box-sizing: border-box;
        position: center;
        text-align: center;
    }
    .footer-nav-buttons {
        width: 30%;
    }
 }










