* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Courier, sans-serif;
}

header {
    background-image: url(code_skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
}

.container {
    margin: 0 auto;
    width: 1200px;
    overflow: auto;
}

ul {
    overflow: hidden;
}

li {
    list-style: none;
    margin-right: 10px;
}

a {
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
}

.nav-buttons a:link, .nav-buttons a:visited {
    color: white;
    display: inline-block;
}

.nav-buttons a:hover {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: white;
    display: inline-block;
}

section {
    height: 1080px;
}

.image-icons {
    max-width: 150px;
}

/*Tablet */

@media only screen and (min-width: 600px) {
    body {
        background-color: lightblue;
    }
    li {
        float: right;
        list-style: none;
        margin-right: 10px;
    }
    .nav-buttons {
        width: 10%;
    }
}

/* Desktop */

@media only screen and (min-width: 768px) {
    body {
        background-color: lightblue;
    }
    li {
        float: right;
        list-style: none;
        margin-right: 10px;
    }
    .nav-buttons {
        width: 10%;
    }
}










