* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
}

h1 {

    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

nav {
    background-color: #FF6700;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    position: fixed;
    overflow: hidden;
    top: 0;
}

header {
    height: 100vh;
    background-color: #000000;
    color: #C0C0C0;
    text-align: center;
}

.title {
    position: relative;
    text-align: left;
    display: inline-block;
    color: #00539F;
    padding-left: 10px;
}

.hero {
    display: inline-block;
    padding: 150px 20px 0 20px;
}

.container {
    margin: 0 auto;
    width: 80%;
}

ul {
    display: inline-block;
    float: right;
    color: #00539F;
}

li {
    list-style: none;
    margin-right: 10px;
    text-align: right;
}

.nav-buttons a:link, .nav-buttons a:visited {
    color: #FFFFFF;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

.nav-buttons a:hover {
    color: #000000;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

section {
    min-height: 100vh;
    padding: 0 20px;
    text-align: justify;
}

.image-icons {
    max-width: 150px;
    /*display: block;*/
    /*margin: 0 auto;*/
    /*width: 50%;*/
}

.footer-nav-bar {
    float: left;
    margin: 0 auto;
    width: 25%;
    border: 5px #FFFFFF;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 60px;
}

.footer-links {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 80%;
    min-height: 30vh;
}

/*Tablet */

@media only screen and (min-width: 600px) {

    li {
        margin-right: 10px;
        text-align: left;
    }
    .footer-links {
        height: 30vh;
    }
    .footer-nav-bar {
        padding: 0 70px;
    }
    .footer-nav-buttons {
        width: 30%;
    }
}

/* Desktop */

@media only screen and (min-width: 1200px) {

    li {
        float: right;
        margin-right: 10px;
    }

    .footer-links {
        width: 100%;
        height: 30vh;
    }

    .footer-nav-bar {
        margin: 0 auto;
        width: 100%;
        border: 5px #FFFFFF;
        position: center;
        text-align: center;
    }

    .footer-nav-buttons {
        width: 30%;
    }
}


/*colours:*/
/*#FF6700 orange*/
/*#EBEBEB silver*/
/*#C0C0C0 dark silver*/
/*#3A6EA5 blue*/
/*#00539F darker blue*/